{
  "version": 4,
  "configurePresets": [
    {
      "name": "custom",
      "inherits": "release",
      "environment": {
        "VCPKG_ROOT": "<path/to/vcpkg>",
        "CMAKE_MAKE_PROGRAM": "ninja",
      }
    }
  ]
}